/* style.css */

/* Reset generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale per il corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenitore principale */
.container {
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    text-align: center;
}

/* Titoli */
h1, h2 {
    color: #007BFF;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    color: #333;
}

/* Input e pulsanti */
input, select, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #007BFF;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background: linear-gradient(135deg, #007BFF, #0056b3);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #0056b3, #004080);
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #f0f4f8;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
}

.tab-button:hover {
    background-color: #007BFF;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Controlli utente */
.user-controls {
    margin-top: 20px;
}

.user-controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

#userList {
    margin-top: 20px;
    text-align: left;
}

/* Stile per la pagina paziente.html */
.paziente-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.paziente-header .icon {
    position: absolute;
    left: 0;
    font-size: 36px;
    color: #007BFF;
}

.paziente-header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #007BFF;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
}
#calendar {
    max-width: 900px;
    margin: 40px auto;
}

